<H1>INFO</h1>

	<p>this is paragraph</p>

	<p>the user supplies param <%= @start %></p>

	<%= 1+5 %>

	<%= (1..10).to_a %>

	<% for i in 1..10 do %>
		<%= i %>
	<% end%>

	<p>this is my homework</p>
	<%= (@start..@stop).to_a %>

	 